* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 145);
    /* background-image: url('./images/Artboard\ 1.svg');
    background-repeat: no-repeat;
    background-size: 100%; */
}

@font-face {
    font-family: Tech;
    src: url('./fonts/FAFERS_Technical_Font.ttf');
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    background-image: url('./images/233-2334305_enquiry-icon-png\ \(1\).png');
    background-size: 100%;
    height: 500px;
    width: 400px;
}

/* -------- Animation for container to expand so that text can appear-------- */
.container {
    /* background: red; */
    margin-top: 100px;
    width: 240px;
    height: 240px; 
    border-radius: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.show-text {
    animation: showText 0.8s ease forwards;
}
@keyframes showText {
    0% {width: 240px}
    100% {width: 1320px}
}
.hide-text {
    animation: hideText 1s ease forwards;
}
@keyframes hideText {
    0% {width: 1320px} 
    100% {width: 240px}
}
/* ---------------------------------------------------- */
.name, .department { 
    display: none;
}

.show-details {
    animation: showDetails 0.1s ease;
    animation-delay: 0.9s;
}
@keyframes showDetails {
    from {display: none}
    to {display: block}
}
.hide-details {
    animation: hideDetails 0.1s ease;
    animation-duration: 0.9s;
}
@keyframes hideDetails {
    from {display: block}
    to {display: none}
}
.name {
    font-family: Tech;
    font-size: 5em;
    color: cyan;
}
.department {
    font-family: Tech;
    font-size: 3em;
    color: cyan;
}
/* ---------------------------------------------------- */
.text-circle {
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    border: 13px solid cyan;
    transform: translate(550px,300px);
}

.slide-left { 
    animation: slideLeft 0.7s ease forwards;
}
@keyframes slideLeft {
    0% {transform: translate(550px, 300px)}
    100% { transform: translate(-550px, 300px)}
}
.slide-right {
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    0% {transform: translate(-550px, 300px)}
    100% {transform: translate(550px, 300px)}
}

