* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: Tech;
    src: url('./fonts/FAFERS_Technical_Font.ttf');
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    background: url('./233-2334305_enquiry-icon-png\ \(1\).png');
    height: 500px;
    width: 400px;
    background-size: cover;
}

.name, .department {
    font-size: 3em;
    font-family: Tech;
}

.name {
    margin-top: 45px;
}


